# [LTFS DataScience Finhack an Online Hackathon](https://datahack.analyticsvidhya.com/contest/ltfs-datascience-finhack-an-online-hackathon/)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint
from datetime import datetime
from skopt import BayesSearchCV
from skopt.space import Real, Categorical, Integer
from time import time
from skopt.callbacks import DeadlineStopper, VerboseCallback, DeltaXStopper

import catboost as cgb
from sklearn.metrics import make_scorer
import re

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MaxAbsScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import StratifiedKFold
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from bayes_opt import BayesianOptimization
import lightgbm as lgb
import gc
import warnings
warnings.filterwarnings('ignore')

## Notebook  Content
1. [Load data](#0)
1. [Data cleaning and preprocessing](#1) <br>    
1. [CATBOOST](#2)
1. [LGBM](#3)

<a id =0>  </a> </br>
## <span style ="color:blue"> <span style='background:orange'>  **1.Load data**

In [3]:
train = pd.read_csv('data/train.csv') # load train data

In [4]:
train.shape

(233154, 41)

In [5]:
train.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [6]:
test = pd.read_csv('data/test_bqCt9Pv.csv') # Load test data

In [7]:
test.shape

(112392, 40)

In [8]:
test.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-74,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-85,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-95,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-73,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-72,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [9]:
train.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

<a id=1>  </a> <br>
## <span style ="color:blue"> <span style='background:orange'> 2. Data cleaning and Preprocessing

## <span style='background:yellow'> Variables processings </span>
* Date.of.Birth to Age in <span style='background:yellow'>years
* DisbursalDate to DisbursalTime in <span style='background:yellow'>days
* AVERAGE.ACCT.AGE  to AVERAGE.ACCT.AGE in <span style='background:yellow'>days
* CREDIT.HISTORY.LENGTH to CREDIT.HISTORY.LENGTH in <span style='background:yellow'>days

target = train['loan_default']
train = train.drop(['loan_default'],1)

In [10]:
vars = ['Date.of.Birth', 'DisbursalDate', 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']

In [11]:
# Date.of.Birth to Age in months
train['Date.of.Birth'] = pd.to_datetime(train['Date.of.Birth'])
test['Date.of.Birth'] = pd.to_datetime(test['Date.of.Birth'])
date = datetime.now()
def age(dob):
    agee = (date - dob).days
    return round(agee/365,0)


train['Age']= train['Date.of.Birth'].apply(age)
test['Age'] = test['Date.of.Birth'].apply(age)

In [12]:
# DisbursalDate to DisbursalTime in days
train['DisbursalDate'] = pd.to_datetime(train['DisbursalDate'])
test['DisbursalDate'] = pd.to_datetime(test['DisbursalDate'])
date = datetime.now()
def dtime(dob):
    time = (date - dob).days
    return time

train['DisbursalTime']= train['DisbursalDate'].apply(dtime)
test['DisbursalTime'] = test['DisbursalDate'].apply(dtime)

In [13]:
# AVERAGE.ACCT.AGE to AVERAGE.ACCT.AGE in days,and 
# CREDIT.HISTORY.LENGTH to CREDIT.HISTORY.LENGTH in days

def todays(value):
    A = [float(s) for s in re.findall(r'-?\d+\.?\d*', value)]
    return round(A[0]*365 + A[1]/12*365,0)

train['AVERAGE.ACCT.AGE'] = train['AVERAGE.ACCT.AGE'].apply(todays)
train['CREDIT.HISTORY.LENGTH'] = train['CREDIT.HISTORY.LENGTH'].apply(todays)
test['AVERAGE.ACCT.AGE'] = test['AVERAGE.ACCT.AGE'].apply(todays)
test['CREDIT.HISTORY.LENGTH'] = test['CREDIT.HISTORY.LENGTH'].apply(todays)

In [14]:
train = train.drop(['Date.of.Birth','DisbursalDate'],1)
train.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,...,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,Age,DisbursalTime
0,420825,50578,58400,89.55,67,22807,45,1441,Salaried,6,...,0,0,0,0,0.0,0.0,0,0,36.0,512
1,537409,47145,65550,73.23,67,22807,45,1502,Self employed,6,...,1991,0,0,1,700.0,700.0,0,1,34.0,310
2,417566,53278,61360,89.63,67,22807,45,1497,Self employed,6,...,0,0,0,0,0.0,0.0,0,0,34.0,571
3,624493,57513,66113,88.48,67,22807,45,1501,Self employed,6,...,31,0,0,0,243.0,456.0,1,1,26.0,280
4,539055,52378,60300,88.39,67,22807,45,1495,Self employed,6,...,0,0,0,0,0.0,0.0,1,1,42.0,310

In [15]:
test = test.drop(['Date.of.Birth','DisbursalDate'],1)
test.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,...,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,Age,DisbursalTime
0,655269,53478,63558,86.54,67,22807,45,1497,Salaried,6,...,0,0,0,0,0,0.0,0.0,0,46.0,509
1,723482,55513,63163,89.45,67,22807,45,1497,Self employed,6,...,0,5605,0,1,0,243.0,365.0,1,34.0,255
2,758529,65282,84320,79.93,78,23135,86,2071,Salaried,4,...,0,0,0,0,0,0.0,0.0,0,24.0,246
3,763449,46905,63896,76.58,78,17014,45,2070,Self employed,4,...,0,0,0,0,0,882.0,882.0,0,47.0,246
4,708663,51428,63896,86.08,78,17014,45,2069,Salaried,4,...,0,0,0,0,0,0.0,0.0,0,48.0,258

### <span style='background:yellow'>Remove unwanted variables </span><br>
`UniqueID` `MobileNo_Avl_Flag`

In [16]:
train = train.drop(['UniqueID', 'MobileNo_Avl_Flag' ], 1)
test = test.drop(['UniqueID', 'MobileNo_Avl_Flag' ], 1)

### <span style='background:yellow'> Check for null values

In [17]:
train[train.isnull().any(axis=1)]

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,Age,DisbursalTime
87,52428,67405,81.60,78,17014,45,2099,NaN,4,1646,...,0,0,0,0,0.0,0.0,0,0,21.0,315
88,51653,63896,86.08,78,17014,45,2079,NaN,4,1646,...,0,0,0,0,0.0,0.0,0,0,20.0,277
91,49488,63306,83.72,78,17014,45,2069,NaN,4,1646,...,0,0,0,0,0.0,0.0,0,0,21.0,289
99,40884,59313,70.81,78,17014,45,2099,NaN,4,1646,...,0,0,0,0,0.0,0.0,0,0,21.0,318
125,49683,62577,83.10,78,17014,45,2099,NaN,4,1646,...,0,0,0,0,0.0,0.0,0,0,22.0,307
813,17850,97311,19.53,11,22976,51,5969,NaN,3,1464,...,0,0,0,0,0.0,0.0,0,0,22.0,297
850,49303,68885,74.04,11,15893,86,5969,NaN,3,1464,...,0,0,0,0,1916.0,1916.0,0,0,36.0,311
874,56013,80906,71.69,11,24654,49,5940,NaN,3,1464,...,0,0,0,0,0.0,0.0,0,0,19.0,357
1249,51003,65606,79.26,20,23502,45,6188,NaN,5,785,...,0,0,0,0,0.0,0.0,0,0,21.0,280
1275,45549,73104,63.61,20,14158,45,6207,NaN,5,785,...,0,0,0,0,0.0,0.0,0,0,20.0,277
1285,70123,95213,74.57,20,23569,48,6207,NaN,5,785,...,0,0,0,0,0.0,0.0,0,0,21.0,322
1290,49078,55957,89.89,20,14158,45,6207,NaN,5,785,...,0,0,0,0,0.0,0.0,0,0,20.0,267
1300,46952,63872,75.15,20,14158,45,6207,NaN,5,785,...,0,0,0,0,0.0,0.0,0,1,19.0,279
1572,48045,69367,71.94,63,16309,45,7093,NaN,10,998,...,0,0,0,0,0.0,0.0,0,0,21.0,283
1591,32484,61346,55.42,63,16309,45,7085,NaN,10,998,...,0,0,0,0,0.0,0.0,0,0,21.0,336
1609,53078,61346,88.84,63,16309,45,7093,NaN,10,998,...,0,0,0,0,0.0,0.0,0,0,21.0,353
1613,53803,65987,83.35,63,16309,45,7108,NaN,10,998,...,0,0,0,0,0.0,0.0,1,1,20.0,266
1648,51778,60058,89.41,63,16309,45,7089,NaN,10,998,...,0,0,0,0,0.0,0.0,0,0,20.0,339
1663,41394,65280,65.87,63,18050,86,7083,NaN,10,703,...,0,0,0,0,0.0,0.0,0,1,20.0,278
1692,53303,69519,79.12,63,18050,86,7091,NaN,10,703,...,1690,0,1,0,152.0,152.0,1,0,21.0,285
1693,53304,62433,88.09,63,18050,86,7091,NaN,10,703,...,0,0,0,0,0.0,0.0,0,0,20.0,338
1731,53079,62433,88.09,63,18050,86,7108,NaN,10,703,...,0,0,0,0,0.0,0.0,0,0,21.0,328
1751,61056,73156,86.12,63,17066,86,7084,NaN,10,413,...,0,0,0,0,0.0,0.0,0,0,21.0,351
1768,51803,71060,74.58,63,21879,86,7102,NaN,10,413,...,0,2563,0,0,1247.0,2251.0,0,1,21.0,357
1812,75251,95951,80.25,63,21879,86,7100,NaN,10,413,...,0,0,0,0,730.0,1095.0,0,1,21.0,283
1837,65882,101011,66.33,63,24063,48,7110,NaN,10,413,...,0,0,0,0,0.0,0.0,0,0,21.0,284
1842,52803,70287,76.83,63,21879,86,7109,NaN,10,413,...,0,0,0,0,0.0,0.0,0,0,22.0,345
1854,43894,66728,67.44,63,18050,86,7109,NaN,10,413,...,1592,0,1,1,426.0,852.0,1,1,22.0,284
1857,52578,72788,74.19,63,21879,86,7100,NaN,10,413,...,0,0,0,0,0.0,0.0,0,1,21.0,345
1862,56513,76472,75.84,63,21879,86,7100,NaN,10,413,...,0,0,1,0,0.0,0.0,0,0,22.0,306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230210,67669,76424,89.63,66,18154,45,3113,NaN,17,3699,...,0,0,0,0,335.0,426.0,0,0,20.0,283
230248,63213,77051,83.06,66,18154,45,3107,NaN,17,3701,...,16952,0,3,0,243.0,700.0,0,0,20.0,283
230251,55259,73840,75.84,66,24706,45,3108,NaN,17,3701,...,14000,0,1,0,30.0,30.0,0,1,23.0,277
230316,78751,109143,73.30,152,23273,51,5197,NaN,3,3757,...,0,0,0,0,0.0,0.0,0,0,32.0,276
230358,62347,74651,84.93,105,22874,86,1294,NaN,6,3706,...,0,0,0,0,0.0,0.0,0,0,19.0,280
230476,68448,84657,84.02,17,24624,51,3256,NaN,17,3740,...,0,0,0,0,0.0,0.0,0,0,49.0,277
230479,50303,68136,74.85,17,24624,51,3256,NaN,17,3740,...,0,0,0,0,0.0,0.0,0,0,24.0,281
230502,54303,81461,67.52,17,16471,51,3238,NaN,17,3772,...,0,0,0,0,0.0,0.0,0,0,40.0,277
230563,56613,66596,87.24,77,18528,45,2358,NaN,4,276,...,0,0,0,0,0.0,0.0,0,0,21.0,479
230574,45283,58566,82.13,77,18528,45,2278,NaN,4,276,...,0,0,0,0,0.0,0.0,0,0,22.0,338
230753,64669,76313,87.14,19,16938,86,1871,NaN,4,1879,...,0,0,0,0,0.0,0.0,0,1,21.0,512
230816,50303,64201,79.44,78,18396,45,2061,NaN,4,2230,...,0,0,0,0,0.0,0.0,0,0,21.0,285
230818,51738,67280,78.78,78,18396,45,2046,NaN,4,2230,...,0,0,0,0,0.0,0.0,0,0,20.0,321
230916,65606,93711,73.20,78,18404,86,2460,NaN,4,3292,...,0,0,0,0,0.0,0.0,1,1,20.0,282
231102,43454,68937,67.45,78,17014,45,2094,NaN,4,3145,...,0,0,0,0,0.0,0.0,0,0,22.0,276
231169,70909,84454,85.00,74,21347,86,2578,NaN,4,176,...,0,0,0,0,0.0,0.0,0,0,22.0,281
231234,89055,124100,72.93,2,15475,48,2369,NaN,4,336,...,0,0,0,0,0.0,0.0,2,0,21.0,311
231666,59179,79166,77.94,78,22857,86,1947,NaN,4,218,...,0,0,0,0,0.0,0.0,0,1,22.0,275
231674,43272,59313,74.86,78,17014,45,2072,NaN,4,218,...,16016,0,0,0,456.0,852.0,3,0,22.0,389
231691,37679,63896,63.38,78,17014,45,2069,NaN,4,218,...,0,0,0,0,0.0,0.0,0,0,19.0,275
231699,58281,74434,83.56,78,16803,86,2069,NaN,4,218,...,7195,0,0,1,487.0,760.0,0,0,21.0,281
231702,48452,64675,79.94,78,17014,45,2042,NaN,4,218,...,70000,0,0,0,91.0,91.0,0,0,34.0,265
231713,48172,66115,74.67,78,17014,45,2081,NaN,4,218,...,0,0,0,0,0.0,0.0,0,0,22.0,306
231717,47385,63306,79.93,78,17014,45,2072,NaN,4,218,...,0,0,0,0,0.0,0.0,0,0,21.0,265
231721,50974,63896,84.98,78,17014,45,2083,NaN,4,218,...,0,0,0,0,0.0,0.0,0,0,21.0,280
231722,43272,59313,74.86,78,17014,45,2093,NaN,4,218,...,1125,0,0,0,669.0,669.0,3,0,21.0,389
231737,36750,62852,60.14,78,17014,45,2082,NaN,4,218,...,0,0,0,0,0.0,0.0,0,0,22.0,512
231756,50683,67746,79.71,78,16803,86,2055,NaN,4,119,...,0,0,0,0,0.0,0.0,0,0,20.0,306
231767,55728,74748,79.60,78,16803,86,2073,NaN,4,119,...,0,0,0,0,0.0,0.0,0,0,21.0,285
232656,63073,72000,89.93,135,23550,86,1667,NaN,4,2540,...,0,0,0,0,0.0,0.0,0,1,20.0,357

In [17]:
test[test.isnull().any(axis=1)]

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,Age,DisbursalTime
9,51653,67445,81.55,78,17014,45,2078,NaN,4,1646,...,0,0,0,0,0,0.0,0.0,0,21.0,257
273,51803,70611,75.06,11,21475,45,5941,NaN,3,1464,...,0,0,0,0,0,548.0,548.0,0,37.0,250
468,36127,68230,54.23,20,14004,86,6187,NaN,5,785,...,0,269767,0,2,0,335.0,912.0,0,20.0,508
473,41694,59251,71.73,20,14158,45,6207,NaN,5,785,...,0,0,0,0,0,0.0,0.0,0,19.0,244
481,51958,69129,76.67,20,14158,45,6183,NaN,5,785,...,0,0,0,0,0,0.0,0.0,0,22.0,248
597,38439,66361,58.77,63,16309,45,7083,NaN,10,998,...,0,0,0,0,0,0.0,0.0,0,20.0,254
605,47645,65000,74.62,63,16309,45,7093,NaN,10,998,...,0,8128,0,1,0,213.0,335.0,0,22.0,233
610,61713,74740,83.62,63,16309,45,7108,NaN,10,998,...,0,0,0,0,0,0.0,0.0,0,31.0,324
660,44705,80672,58.26,63,23473,86,7123,NaN,10,703,...,0,3680,0,0,0,243.0,243.0,0,19.0,245
670,78579,102297,78.20,63,21879,86,7100,NaN,10,413,...,0,0,0,0,0,0.0,0.0,0,19.0,255
688,55759,71419,79.11,63,17066,86,7106,NaN,10,413,...,0,900,0,0,0,365.0,365.0,0,22.0,259
702,63947,75993,85.53,63,17066,86,7119,NaN,10,413,...,0,0,0,0,0,0.0,0.0,0,21.0,247
721,60213,74447,82.61,63,21879,86,7110,NaN,10,413,...,0,0,0,0,0,0.0,0.0,0,20.0,245
729,45849,70899,66.29,63,21879,86,7104,NaN,10,413,...,0,0,0,0,0,0.0,0.0,0,23.0,263
732,59259,97800,61.35,48,23299,49,6430,NaN,5,1202,...,0,0,0,0,0,0.0,0.0,0,21.0,252
749,53810,68046,80.53,48,15905,86,6268,NaN,5,1202,...,0,0,0,0,0,0.0,0.0,0,21.0,233
999,50295,65661,80.13,42,23212,86,5342,NaN,3,811,...,0,0,0,0,0,0.0,0.0,0,33.0,245
1006,75251,105292,73.13,42,24712,49,5348,NaN,3,811,...,0,0,0,0,0,0.0,0.0,0,20.0,252
1015,43894,70596,63.74,42,23132,45,5342,NaN,3,811,...,0,0,0,0,0,1004.0,1004.0,0,31.0,246
1019,37275,64226,60.72,42,23132,45,5348,NaN,3,811,...,0,0,0,0,0,0.0,0.0,0,31.0,447
1035,57759,80726,73.09,42,23212,86,5345,NaN,3,811,...,0,0,0,0,0,0.0,0.0,0,25.0,248
1271,65169,80603,81.88,16,15694,86,2954,NaN,14,370,...,0,0,0,0,0,0.0,0.0,0,-42.0,258
1276,56259,81744,69.73,16,15694,86,2965,NaN,14,370,...,0,2200,0,0,0,1247.0,1247.0,0,37.0,257
1301,57259,71940,80.62,16,15694,86,2951,NaN,14,370,...,0,2968,0,0,0,2281.0,3559.0,0,34.0,260
1302,58259,73100,80.71,146,14142,45,2961,NaN,14,661,...,0,19699,0,0,1,578.0,1399.0,0,36.0,233
1320,60913,82986,75.31,16,15694,86,2989,NaN,14,1701,...,0,0,0,0,0,0.0,0.0,0,22.0,259
1323,66369,92500,73.51,16,15694,86,3013,NaN,14,1701,...,0,0,0,0,0,0.0,0.0,0,27.0,258
1340,63047,77537,83.70,16,14305,86,2959,NaN,14,1701,...,0,0,0,0,0,517.0,517.0,0,21.0,253
1343,46549,72800,65.66,16,16483,45,2971,NaN,14,1701,...,0,0,0,1,0,395.0,700.0,0,30.0,245
1357,53303,73490,73.48,16,21124,86,2970,NaN,14,430,...,0,0,0,0,0,0.0,0.0,0,23.0,259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110153,58353,69595,89.09,3,16092,51,89,NaN,1,3861,...,19423,11021,0,2,1,426.0,1430.0,0,27.0,258
110228,51303,68000,76.47,147,24579,86,2811,NaN,2,3799,...,0,0,0,0,0,0.0,0.0,0,22.0,261
110239,58013,74500,79.19,147,24579,86,2783,NaN,2,3799,...,0,0,0,0,0,0.0,0.0,0,22.0,324
110242,55559,73300,76.81,147,24579,86,2782,NaN,2,3799,...,0,1583,0,1,0,122.0,122.0,1,20.0,259
110243,59713,77000,78.57,147,24270,86,2800,NaN,2,3799,...,0,0,0,0,0,0.0,0.0,0,20.0,263
110340,62463,72588,87.50,117,18599,45,1926,NaN,4,3828,...,0,0,0,0,0,0.0,0.0,0,25.0,254
110341,66022,76212,88.10,117,18599,45,1926,NaN,4,3828,...,0,2380,0,0,0,456.0,943.0,0,22.0,233
110345,62463,72223,87.94,117,18599,45,1926,NaN,4,3828,...,0,0,0,0,0,0.0,0.0,0,26.0,244
110347,57213,66163,87.96,117,18599,45,1926,NaN,4,3828,...,0,1604,0,0,0,335.0,335.0,0,22.0,261
110348,57863,66594,88.37,117,18599,45,1926,NaN,4,3828,...,0,0,0,0,0,0.0,0.0,0,23.0,244
110406,57013,71457,81.17,146,17921,86,2948,NaN,14,3854,...,0,0,0,0,0,669.0,669.0,0,21.0,254
110623,50578,67960,75.78,77,18528,45,2278,NaN,4,276,...,0,0,0,0,0,0.0,0.0,0,21.0,256
110632,46945,64386,74.24,77,18528,45,2278,NaN,4,276,...,0,0,0,0,0,0.0,0.0,0,21.0,255
110642,57413,65627,88.99,77,18528,45,2278,NaN,4,276,...,0,5360,0,0,0,487.0,852.0,1,21.0,256
110670,60463,71799,86.35,146,15359,86,2970,NaN,14,3882,...,0,2377,0,1,0,365.0,760.0,0,28.0,252
110721,40394,73466,55.81,11,24332,45,6020,NaN,3,3808,...,0,0,0,0,0,0.0,0.0,0,20.0,416
110741,37439,74968,50.69,11,24332,45,6020,NaN,3,3808,...,0,0,0,0,0,0.0,0.0,0,20.0,416
110807,57009,74000,79.05,66,16964,86,3152,NaN,17,3881,...,0,6304,0,2,0,578.0,1947.0,0,25.0,246
110819,50953,73398,71.39,136,20490,45,3693,NaN,8,3918,...,0,1715,0,0,0,213.0,213.0,0,35.0,245
111052,54433,68544,81.70,78,18396,45,2046,NaN,4,2230,...,0,0,0,0,0,0.0,0.0,0,19.0,245
111198,46349,65850,72.89,250,23098,45,1549,NaN,6,3431,...,0,0,0,0,0,0.0,0.0,0,21.0,252
111307,62213,98261,64.11,101,22798,51,696,NaN,15,3787,...,0,0,0,0,0,0.0,0.0,0,21.0,257
111377,59197,72844,83.74,74,21347,86,2589,NaN,4,176,...,0,0,0,0,0,0.0,0.0,0,21.0,252
111393,88620,113285,79.45,74,21347,86,2584,NaN,4,176,...,0,0,0,0,0,0.0,0.0,0,21.0,258
111661,44958,74728,61.74,2,23550,120,1628,NaN,4,1725,...,0,0,0,0,0,0.0,0.0,1,21.0,260
111688,45889,63896,75.12,78,17014,45,2081,NaN,4,218,...,0,0,0,0,0,0.0,0.0,0,20.0,253
111702,47839,63896,80.29,78,17014,45,2070,NaN,4,218,...,0,11000,0,0,0,426.0,426.0,0,20.0,253
111704,56006,74218,78.58,78,17014,45,2076,NaN,4,218,...,0,0,0,0,0,0.0,0.0,0,20.0,508
112283,74495,97488,79.80,74,17436,48,2617,NaN,4,2777,...,0,0,0,0,0,0.0,0.0,0,21.0,247
112295,91155,121636,78.10,74,17436,48,2578,NaN,4,2777,...,0,17318,0,0,0,1247.0,2251.0,0,20.0,245

### <span style='background:yellow'> Check value count of variables which has null values

In [18]:
train['Employment.Type'].value_counts()

Self employed    127635
Salaried          97858
Name: Employment.Type, dtype: int64

In [19]:
test['Employment.Type'].value_counts()

Self employed    59794
Salaried         49155
Name: Employment.Type, dtype: int64

### <span style='background:yellow'> Replace nan with mode of variable

In [20]:
train= train.fillna({"Employment.Type": "Self employed"})
test= test.fillna({"Employment.Type": "Self employed"})

In [21]:
train[train.isnull().any(axis=1)]

Empty DataFrame
Columns: [disbursed_amount, asset_cost, ltv, branch_id, supplier_id, manufacturer_id, Current_pincode_ID, Employment.Type, State_ID, Employee_code_ID, Aadhar_flag, PAN_flag, VoterID_flag, Driving_flag, Passport_flag, PERFORM_CNS.SCORE, PERFORM_CNS.SCORE.DESCRIPTION, PRI.NO.OF.ACCTS, PRI.ACTIVE.ACCTS, PRI.OVERDUE.ACCTS, PRI.CURRENT.BALANCE, PRI.SANCTIONED.AMOUNT, PRI.DISBURSED.AMOUNT, SEC.NO.OF.ACCTS, SEC.ACTIVE.ACCTS, SEC.OVERDUE.ACCTS, SEC.CURRENT.BALANCE, SEC.SANCTIONED.AMOUNT, SEC.DISBURSED.AMOUNT, PRIMARY.INSTAL.AMT, SEC.INSTAL.AMT, NEW.ACCTS.IN.LAST.SIX.MONTHS, DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS, AVERAGE.ACCT.AGE, CREDIT.HISTORY.LENGTH, NO.OF_INQUIRIES, loan_default, Age, DisbursalTime]
Index: []

[0 rows x 39 columns]

In [22]:
test[test.isnull().any(axis=1)]

Empty DataFrame
Columns: [disbursed_amount, asset_cost, ltv, branch_id, supplier_id, manufacturer_id, Current_pincode_ID, Employment.Type, State_ID, Employee_code_ID, Aadhar_flag, PAN_flag, VoterID_flag, Driving_flag, Passport_flag, PERFORM_CNS.SCORE, PERFORM_CNS.SCORE.DESCRIPTION, PRI.NO.OF.ACCTS, PRI.ACTIVE.ACCTS, PRI.OVERDUE.ACCTS, PRI.CURRENT.BALANCE, PRI.SANCTIONED.AMOUNT, PRI.DISBURSED.AMOUNT, SEC.NO.OF.ACCTS, SEC.ACTIVE.ACCTS, SEC.OVERDUE.ACCTS, SEC.CURRENT.BALANCE, SEC.SANCTIONED.AMOUNT, SEC.DISBURSED.AMOUNT, PRIMARY.INSTAL.AMT, SEC.INSTAL.AMT, NEW.ACCTS.IN.LAST.SIX.MONTHS, DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS, AVERAGE.ACCT.AGE, CREDIT.HISTORY.LENGTH, NO.OF_INQUIRIES, Age, DisbursalTime]
Index: []

[0 rows x 38 columns]

In [23]:
train.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,Age,DisbursalTime
0,50578,58400,89.55,67,22807,45,1441,Salaried,6,1998,...,0,0,0,0,0.0,0.0,0,0,36.0,512
1,47145,65550,73.23,67,22807,45,1502,Self employed,6,1998,...,1991,0,0,1,700.0,700.0,0,1,34.0,310
2,53278,61360,89.63,67,22807,45,1497,Self employed,6,1998,...,0,0,0,0,0.0,0.0,0,0,34.0,571
3,57513,66113,88.48,67,22807,45,1501,Self employed,6,1998,...,31,0,0,0,243.0,456.0,1,1,26.0,280
4,52378,60300,88.39,67,22807,45,1495,Self employed,6,1998,...,0,0,0,0,0.0,0.0,1,1,42.0,310

In [24]:
test.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,Age,DisbursalTime
0,53478,63558,86.54,67,22807,45,1497,Salaried,6,1998,...,0,0,0,0,0,0.0,0.0,0,46.0,509
1,55513,63163,89.45,67,22807,45,1497,Self employed,6,1998,...,0,5605,0,1,0,243.0,365.0,1,34.0,255
2,65282,84320,79.93,78,23135,86,2071,Salaried,4,1646,...,0,0,0,0,0,0.0,0.0,0,24.0,246
3,46905,63896,76.58,78,17014,45,2070,Self employed,4,1646,...,0,0,0,0,0,882.0,882.0,0,47.0,246
4,51428,63896,86.08,78,17014,45,2069,Salaried,4,1646,...,0,0,0,0,0,0.0,0.0,0,48.0,258

## <span style='background:yellow'> Deal with categorical variable </span>  <br>
* Employment.Type

* PERFORM_CNS.SCORE.DESCRIPTION

In [25]:
def label_encoder(df, encoder_dict=None):
    # Label encode categoricals
    categorical_feats = df.columns[df.dtypes == 'object']
    for feat in categorical_feats:
        encoder = LabelEncoder()
        df[feat] = encoder.fit_transform(df[feat].fillna('NULL'))
    return df, categorical_feats.tolist(), encoder_dict

In [26]:
train, categorical_feats, encoder_dict = label_encoder(train)
test, categorical_feats, encoder_dict = label_encoder(test)

In [27]:
train.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default,Age,DisbursalTime
0,50578,58400,89.55,67,22807,45,1441,0,6,1998,...,0,0,0,0,0.0,0.0,0,0,36.0,512
1,47145,65550,73.23,67,22807,45,1502,1,6,1998,...,1991,0,0,1,700.0,700.0,0,1,34.0,310
2,53278,61360,89.63,67,22807,45,1497,1,6,1998,...,0,0,0,0,0.0,0.0,0,0,34.0,571
3,57513,66113,88.48,67,22807,45,1501,1,6,1998,...,31,0,0,0,243.0,456.0,1,1,26.0,280
4,52378,60300,88.39,67,22807,45,1495,1,6,1998,...,0,0,0,0,0.0,0.0,1,1,42.0,310

In [28]:
train.columns

Index(['disbursed_amount', 'asset_cost', 'ltv', 'branch_id', 'supplier_id',
       'manufacturer_id', 'Current_pincode_ID', 'Employment.Type', 'State_ID',
       'Employee_code_ID', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default', 'Age', 'DisbursalTime'],
      dtype='object')

In [29]:
test.columns

Index(['disbursed_amount', 'asset_cost', 'ltv', 'branch_id', 'supplier_id',
       'manufacturer_id', 'Current_pincode_ID', 'Employment.Type', 'State_ID',
       'Employee_code_ID', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES', 'Age',
       'DisbursalTime'],
      dtype='object')

In [59]:
train_y = train[['loan_default']]
train_X = train.drop('loan_default', axis =1)

# Feature Engineering

In [31]:
cat_features = ['branch_id', 'supplier_id','manufacturer_id', 'Current_pincode_ID', 'Employment.Type', 'State_ID',\
'Employee_code_ID', 'Aadhar_flag', 'PAN_flag','VoterID_flag','Employment.Type', 'PERFORM_CNS.SCORE.DESCRIPTION']

In [32]:
def feature_eng(df):
    df['amount_divide'] = df['PRI.OVERDUE.ACCTS'] / df['disbursed_amount']
    df_cat = df[cat_features]
    df_num = df.drop(cat_features, axis=1)
    df['mean'] = df_num.mean(axis=1)
    df['min'] = df_num.min(axis=1)
    df['max'] = df_num.max(axis=1)
    df['std'] = df_num.std(axis=1)
    df['sum_by_len'] = df.sum(axis=1)/len(df)
    
    df= df.fillna(0)
    df = df.replace(np.inf, 0)
    return df

train_X = feature_eng(train_X)
test = feature_eng(test)

In [33]:
train_X.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Employment.Type,State_ID,Employee_code_ID,...,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,Age,DisbursalTime,amount_divide,mean,min,max,std,sum_by_len
0,50578,58400,89.55,67,22807,45,1441,0,6,1998,...,0.0,0,36.0,512,0.000000,3914.841071,0.0,58400.0,14324.077226,0.911983
1,47145,65550,73.23,67,22807,45,1502,1,6,1998,...,700.0,0,34.0,310,0.000021,8753.758215,0.0,65550.0,19418.496253,1.566615
2,53278,61360,89.63,67,22807,45,1497,1,6,1998,...,0.0,0,34.0,571,0.000000,4119.022500,0.0,61360.0,15066.362358,0.953503
3,57513,66113,88.48,67,22807,45,1501,1,6,1998,...,456.0,1,26.0,280,0.000000,4466.410000,0.0,66113.0,16239.589157,1.022138
4,52378,60300,88.39,67,22807,45,1495,1,6,1998,...,0.0,1,42.0,310,0.000000,4039.978214,0.0,60300.0,14810.720205,0.938020

In [34]:
test_X = test

<a id =2>  </a> </br>

# <span style ="color:blue"> <span style='background:orange'>  3. CatBoost

## Hyper Parameter tunning

In [ ]:
# Reporting util for different optimizers
def report_perf(optimizer, X, y, title, callbacks=None):
    """
    A wrapper for measuring time and performances of different optmizers
    
    optimizer = a sklearn or a skopt optimizer
    X = the training set 
    y = our target
    title = a string label for the experiment
    """
    start = time()
    if callbacks:
        optimizer.fit(X, y, callback=callbacks)
    else:
        optimizer.fit(X, y)
    d=pd.DataFrame(optimizer.cv_results_)
    best_score = optimizer.best_score_
    best_score_std = d.iloc[optimizer.best_index_].std_test_score
    best_params = optimizer.best_params_
    print((title + " took %.2f seconds,  candidates checked: %d, best CV score: %.3f "
           +u"\u00B1"+" %.3f") % (time() - start, 
                                  len(optimizer.cv_results_['params']),
                                  best_score,
                                  best_score_std))    
    print('Best parameters:')
    pprint.pprint(best_params)
    print()
    return best_params

from sklearn.metrics import make_scorer
roc_auc = make_scorer(roc_auc_score, greater_is_better=True, needs_threshold=True)
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

clf = cgb.CatBoostClassifier(thread_count=2,
                         loss_function='Logloss',
                        
                         od_type = 'Iter',
                         verbose= False
                        )


# Defining your search space
search_spaces = {'iterations': Integer(10, 1000),
                 'depth': Integer(1, 8),
                 'learning_rate': Real(0.01, 1.0, 'log-uniform'),
                 'random_strength': Real(1e-9, 10, 'log-uniform'),
                 'bagging_temperature': Real(0.0, 1.0),
                 'border_count': Integer(1, 255),
                 'l2_leaf_reg': Integer(2, 30),
                 'scale_pos_weight':Real(0.01, 1.0, 'uniform')}

# Setting up BayesSearchCV
opt = BayesSearchCV(clf,
                    search_spaces,
                    scoring=roc_auc,
                    cv=skf,
                    n_iter=100,
                    n_jobs=1,  # use just 1 job with CatBoost in order to avoid segmentation fault
                    return_train_score=False,
                    refit=True,
                    optimizer_kwargs={'base_estimator': 'GP'},
                    random_state=42)


best_params = report_perf(opt, train_X, train_y,'CatBoost', 
                          callbacks=[VerboseCallback(100), 
                                     DeadlineStopper(60*10)])

In [ ]:
X_train,X_valid,y_train,y_valid = train_test_split(train_X,train_y,train_size=0.98,random_state=1236)

tuned_model = cgb.CatBoostClassifier(**best_params, loss_function= 'Logloss', eval_metric='AUC',use_best_model=True,random_seed=77)

In [ ]:
tuned_model.fit(X_train,y_train,cat_features= cat_features,eval_set=(X_valid,y_valid))

In [ ]:
pred1 = tuned_model.predict_proba(test_X)
preds1= pred1[:,1]


submission = pd.read_csv('sample_submission_24jSKY6.csv')

submission['loan_default'] = preds

submission.to_csv('tunned.csv', index = False)

In [35]:


X_train,X_valid,y_train,y_valid = train_test_split(train_X,train_y,train_size=0.98,random_state=1777)

In [36]:
model = cgb.CatBoostClassifier(iterations=300, learning_rate=0.05, l2_leaf_reg=11.7, depth=9, \
                           rsm=0.4, loss_function= 'Logloss', eval_metric='AUC',use_best_model=True,random_seed=7777)

In [37]:
model.fit(X_train,y_train,cat_features= cat_features,eval_set=(X_valid,y_valid))

0:	test: 0.6220999	best: 0.6220999 (0)	total: 251ms	remaining: 1m 15s
1:	test: 0.6307948	best: 0.6307948 (1)	total: 467ms	remaining: 1m 9s
2:	test: 0.6349776	best: 0.6349776 (2)	total: 677ms	remaining: 1m 6s
3:	test: 0.6314208	best: 0.6349776 (2)	total: 882ms	remaining: 1m 5s
4:	test: 0.6298615	best: 0.6349776 (2)	total: 1.14s	remaining: 1m 7s
5:	test: 0.6321991	best: 0.6349776 (2)	total: 1.36s	remaining: 1m 6s
6:	test: 0.6300621	best: 0.6349776 (2)	total: 1.46s	remaining: 1m
7:	test: 0.6343518	best: 0.6349776 (2)	total: 1.7s	remaining: 1m 2s
8:	test: 0.6364143	best: 0.6364143 (8)	total: 1.9s	remaining: 1m 1s
9:	test: 0.6365265	best: 0.6365265 (9)	total: 2.12s	remaining: 1m 1s
10:	test: 0.6359972	best: 0.6365265 (9)	total: 2.31s	remaining: 1m
11:	test: 0.6366654	best: 0.6366654 (11)	total: 2.54s	remaining: 1m
12:	test: 0.6390988	best: 0.6390988 (12)	total: 2.75s	remaining: 1m
13:	test: 0.6392928	best: 0.6392928 (13)	total: 3.02s	remaining: 1m 1s
14:	test: 0.6398597	best: 0.6398597 (14)	total: 3.23s	remaining: 1m 1s
15:	test: 0.6416374	best: 0.6416374 (15)	total: 3.45s	remaining: 1m 1s
16:	test: 0.6420548	best: 0.6420548 (16)	total: 3.65s	remaining: 1m
17:	test: 0.6428667	best: 0.6428667 (17)	total: 3.9s	remaining: 1m 1s
18:	test: 0.6445566	best: 0.6445566 (18)	total: 4.08s	remaining: 1m
19:	test: 0.6450929	best: 0.6450929 (19)	total: 4.33s	remaining: 1m
20:	test: 0.6454726	best: 0.6454726 (20)	total: 4.55s	remaining: 1m
21:	test: 0.6454604	best: 0.6454726 (20)	total: 4.8s	remaining: 1m
22:	test: 0.6467868	best: 0.6467868 (22)	total: 5.05s	remaining: 1m
23:	test: 0.6481800	best: 0.6481800 (23)	total: 5.25s	remaining: 1m
24:	test: 0.6489841	best: 0.6489841 (24)	total: 5.47s	remaining: 1m
25:	test: 0.6494725	best: 0.6494725 (25)	total: 5.7s	remaining: 1m
26:	test: 0.6507023	best: 0.6507023 (26)	total: 5.83s	remaining: 58.9s
27:	test: 0.6525127	best: 0.6525127 (27)	total: 6.08s	remaining: 59.1s
28:	test: 0.6534845	best: 0.6534845 (28)	total: 6.31s	remaining: 59s
29:	test: 0.6541140	best: 0.6541140 (29)	total: 6.51s	remaining: 58.6s
30:	test: 0.6549532	best: 0.6549532 (30)	total: 6.79s	remaining: 58.9s
31:	test: 0.6551507	best: 0.6551507 (31)	total: 7.05s	remaining: 59s
32:	test: 0.6564525	best: 0.6564525 (32)	total: 7.35s	remaining: 59.5s
33:	test: 0.6569175	best: 0.6569175 (33)	total: 7.66s	remaining: 60s
34:	test: 0.6575399	best: 0.6575399 (34)	total: 7.93s	remaining: 1m
35:	test: 0.6580146	best: 0.6580146 (35)	total: 8.21s	remaining: 1m
36:	test: 0.6586203	best: 0.6586203 (36)	total: 8.46s	remaining: 1m
37:	test: 0.6592087	best: 0.6592087 (37)	total: 8.67s	remaining: 59.8s
38:	test: 0.6603408	best: 0.6603408 (38)	total: 8.93s	remaining: 59.7s
39:	test: 0.6606722	best: 0.6606722 (39)	total: 9.19s	remaining: 59.7s
40:	test: 0.6608611	best: 0.6608611 (40)	total: 9.5s	remaining: 1m
41:	test: 0.6613019	best: 0.6613019 (41)	total: 9.78s	remaining: 1m
42:	test: 0.6618452	best: 0.6618452 (42)	total: 10s	remaining: 59.9s
43:	test: 0.6624007	best: 0.6624007 (43)	total: 10.3s	remaining: 59.8s
44:	test: 0.6625497	best: 0.6625497 (44)	total: 10.5s	remaining: 59.6s
45:	test: 0.6629673	best: 0.6629673 (45)	total: 10.8s	remaining: 59.5s
46:	test: 0.6633145	best: 0.6633145 (46)	total: 11s	remaining: 59.2s
47:	test: 0.6638617	best: 0.6638617 (47)	total: 11.3s	remaining: 59.3s
48:	test: 0.6642709	best: 0.6642709 (48)	total: 11.5s	remaining: 59s
49:	test: 0.6648577	best: 0.6648577 (49)	total: 11.8s	remaining: 59s
50:	test: 0.6652519	best: 0.6652519 (50)	total: 12.1s	remaining: 59s
51:	test: 0.6653640	best: 0.6653640 (51)	total: 12.3s	remaining: 58.7s
52:	test: 0.6655038	best: 0.6655038 (52)	total: 12.5s	remaining: 58.4s
53:	test: 0.6662215	best: 0.6662215 (53)	total: 12.8s	remaining: 58.1s
54:	test: 0.6666929	best: 0.6666929 (54)	total: 13s	remaining: 58s
55:	test: 0.6671267	best: 0.6671267 (55)	total: 13.2s	remaining: 57.7s
56:	test: 0.6673007	best: 0.6673007 (56)	total: 13.5s	remaining: 57.6s
57:	test: 0.6676919	best: 0.6676919 (57)	total: 13.8s	remaining: 57.4s
58:	test: 0.6677625	best: 0.6677625 (58)	total: 14s	remaining: 57s
59:	test: 0.6680028	best: 0.6680028 (59)	total: 14.2s	remaining: 56.8s
60:	test: 0.6681462	best: 0.6681462 (60)	total: 14.5s	remaining: 56.7s
61:	test: 0.6682817	best: 0.6682817 (61)	total: 14.8s	remaining: 56.7s
62:	test: 0.6684724	best: 0.6684724 (62)	total: 15s	remaining: 56.4s
63:	test: 0.6685352	best: 0.6685352 (63)	total: 15.2s	remaining: 56.2s
64:	test: 0.6687925	best: 0.6687925 (64)	total: 15.5s	remaining: 56s
65:	test: 0.6694758	best: 0.6694758 (65)	total: 15.7s	remaining: 55.8s
66:	test: 0.6697352	best: 0.6697352 (66)	total: 16s	remaining: 55.5s
67:	test: 0.6699160	best: 0.6699160 (67)	total: 16.2s	remaining: 55.3s
68:	test: 0.6701703	best: 0.6701703 (68)	total: 16.4s	remaining: 55s
69:	test: 0.6702377	best: 0.6702377 (69)	total: 16.7s	remaining: 55s
70:	test: 0.6702641	best: 0.6702641 (70)	total: 17s	remaining: 54.8s
71:	test: 0.6705042	best: 0.6705042 (71)	total: 17.3s	remaining: 54.7s
72:	test: 0.6707361	best: 0.6707361 (72)	total: 17.5s	remaining: 54.4s
73:	test: 0.6710309	best: 0.6710309 (73)	total: 17.8s	remaining: 54.2s
74:	test: 0.6711521	best: 0.6711521 (74)	total: 18.1s	remaining: 54.2s
75:	test: 0.6712071	best: 0.6712071 (75)	total: 18.3s	remaining: 53.9s
76:	test: 0.6712957	best: 0.6712957 (76)	total: 18.5s	remaining: 53.6s
77:	test: 0.6715460	best: 0.6715460 (77)	total: 18.7s	remaining: 53.3s
78:	test: 0.6715641	best: 0.6715641 (78)	total: 18.9s	remaining: 53s
79:	test: 0.6717106	best: 0.6717106 (79)	total: 19.2s	remaining: 52.8s
80:	test: 0.6717621	best: 0.6717621 (80)	total: 19.5s	remaining: 52.6s
81:	test: 0.6719663	best: 0.6719663 (81)	total: 19.7s	remaining: 52.3s
82:	test: 0.6720687	best: 0.6720687 (82)	total: 19.9s	remaining: 52.1s
83:	test: 0.6720692	best: 0.6720692 (83)	total: 20.2s	remaining: 51.9s
84:	test: 0.6718747	best: 0.6720692 (83)	total: 20.5s	remaining: 51.9s
85:	test: 0.6719224	best: 0.6720692 (83)	total: 20.8s	remaining: 51.9s
86:	test: 0.6720568	best: 0.6720692 (83)	total: 21.2s	remaining: 51.9s
87:	test: 0.6720806	best: 0.6720806 (87)	total: 21.5s	remaining: 51.7s
88:	test: 0.6721398	best: 0.6721398 (88)	total: 21.7s	remaining: 51.6s
89:	test: 0.6725009	best: 0.6725009 (89)	total: 22s	remaining: 51.4s
90:	test: 0.6725337	best: 0.6725337 (90)	total: 22.2s	remaining: 51.1s
91:	test: 0.6726808	best: 0.6726808 (91)	total: 22.5s	remaining: 51s
92:	test: 0.6727159	best: 0.6727159 (92)	total: 22.8s	remaining: 50.7s
93:	test: 0.6727679	best: 0.6727679 (93)	total: 23s	remaining: 50.4s
94:	test: 0.6728266	best: 0.6728266 (94)	total: 23.3s	remaining: 50.4s
95:	test: 0.6729449	best: 0.6729449 (95)	total: 23.5s	remaining: 50s
96:	test: 0.6732366	best: 0.6732366 (96)	total: 23.8s	remaining: 49.8s
97:	test: 0.6734263	best: 0.6734263 (97)	total: 24s	remaining: 49.5s
98:	test: 0.6734298	best: 0.6734298 (98)	total: 24.3s	remaining: 49.4s
99:	test: 0.6735575	best: 0.6735575 (99)	total: 24.6s	remaining: 49.1s
100:	test: 0.6736408	best: 0.6736408 (100)	total: 24.8s	remaining: 48.8s
101:	test: 0.6737647	best: 0.6737647 (101)	total: 25s	remaining: 48.6s
102:	test: 0.6739698	best: 0.6739698 (102)	total: 25.3s	remaining: 48.4s
103:	test: 0.6742357	best: 0.6742357 (103)	total: 25.5s	remaining: 48.1s
104:	test: 0.6742597	best: 0.6742597 (104)	total: 25.8s	remaining: 47.9s
105:	test: 0.6743208	best: 0.6743208 (105)	total: 26.1s	remaining: 47.8s
106:	test: 0.6744361	best: 0.6744361 (106)	total: 26.4s	remaining: 47.7s
107:	test: 0.6744240	best: 0.6744361 (106)	total: 26.7s	remaining: 47.4s
108:	test: 0.6742513	best: 0.6744361 (106)	total: 26.9s	remaining: 47.2s
109:	test: 0.6743405	best: 0.6744361 (106)	total: 27.2s	remaining: 47s
110:	test: 0.6744035	best: 0.6744361 (106)	total: 27.4s	remaining: 46.7s
111:	test: 0.6744472	best: 0.6744472 (111)	total: 27.7s	remaining: 46.4s
112:	test: 0.6745727	best: 0.6745727 (112)	total: 27.9s	remaining: 46.1s
113:	test: 0.6745148	best: 0.6745727 (112)	total: 28.2s	remaining: 46s
114:	test: 0.6744938	best: 0.6745727 (112)	total: 28.5s	remaining: 45.9s
115:	test: 0.6744453	best: 0.6745727 (112)	total: 28.8s	remaining: 45.7s
116:	test: 0.6745668	best: 0.6745727 (112)	total: 29s	remaining: 45.4s
117:	test: 0.6745609	best: 0.6745727 (112)	total: 29.3s	remaining: 45.2s
118:	test: 0.6747675	best: 0.6747675 (118)	total: 29.6s	remaining: 45s
119:	test: 0.6747963	best: 0.6747963 (119)	total: 29.8s	remaining: 44.7s
120:	test: 0.6748537	best: 0.6748537 (120)	total: 30s	remaining: 44.3s
121:	test: 0.6749663	best: 0.6749663 (121)	total: 30.2s	remaining: 44.1s
122:	test: 0.6751711	best: 0.6751711 (122)	total: 30.5s	remaining: 43.9s
123:	test: 0.6752040	best: 0.6752040 (123)	total: 30.8s	remaining: 43.6s
124:	test: 0.6752110	best: 0.6752110 (124)	total: 30.9s	remaining: 43.3s
125:	test: 0.6753069	best: 0.6753069 (125)	total: 31.2s	remaining: 43.1s
126:	test: 0.6755693	best: 0.6755693 (126)	total: 31.4s	remaining: 42.8s
127:	test: 0.6755577	best: 0.6755693 (126)	total: 31.7s	remaining: 42.6s
128:	test: 0.6756353	best: 0.6756353 (128)	total: 32s	remaining: 42.4s
129:	test: 0.6756881	best: 0.6756881 (129)	total: 32.2s	remaining: 42.2s
130:	test: 0.6758541	best: 0.6758541 (130)	total: 32.5s	remaining: 41.9s
131:	test: 0.6758457	best: 0.6758541 (130)	total: 32.8s	remaining: 41.7s
132:	test: 0.6758584	best: 0.6758584 (132)	total: 33.1s	remaining: 41.5s
133:	test: 0.6758536	best: 0.6758584 (132)	total: 33.3s	remaining: 41.3s
134:	test: 0.6758988	best: 0.6758988 (134)	total: 33.5s	remaining: 41s
135:	test: 0.6760241	best: 0.6760241 (135)	total: 33.8s	remaining: 40.8s
136:	test: 0.6761235	best: 0.6761235 (136)	total: 34s	remaining: 40.5s
137:	test: 0.6761082	best: 0.6761235 (136)	total: 34.3s	remaining: 40.3s
138:	test: 0.6761647	best: 0.6761647 (138)	total: 34.5s	remaining: 40s
139:	test: 0.6761362	best: 0.6761647 (138)	total: 34.8s	remaining: 39.8s
140:	test: 0.6762297	best: 0.6762297 (140)	total: 35s	remaining: 39.4s
141:	test: 0.6763401	best: 0.6763401 (141)	total: 35.2s	remaining: 39.2s
142:	test: 0.6764086	best: 0.6764086 (142)	total: 35.5s	remaining: 39s
143:	test: 0.6764326	best: 0.6764326 (143)	total: 35.8s	remaining: 38.7s
144:	test: 0.6765382	best: 0.6765382 (144)	total: 36s	remaining: 38.5s
145:	test: 0.6766109	best: 0.6766109 (145)	total: 36.3s	remaining: 38.3s
146:	test: 0.6766834	best: 0.6766834 (146)	total: 36.6s	remaining: 38.1s
147:	test: 0.6767262	best: 0.6767262 (147)	total: 36.8s	remaining: 37.8s
148:	test: 0.6767305	best: 0.6767305 (148)	total: 37.1s	remaining: 37.6s
149:	test: 0.6768604	best: 0.6768604 (149)	total: 37.3s	remaining: 37.3s
150:	test: 0.6770646	best: 0.6770646 (150)	total: 37.6s	remaining: 37.1s
151:	test: 0.6771632	best: 0.6771632 (151)	total: 37.8s	remaining: 36.8s
152:	test: 0.6772228	best: 0.6772228 (152)	total: 38s	remaining: 36.5s
153:	test: 0.6771541	best: 0.6772228 (152)	total: 38.3s	remaining: 36.3s
154:	test: 0.6772147	best: 0.6772228 (152)	total: 38.5s	remaining: 36.1s
155:	test: 0.6772158	best: 0.6772228 (152)	total: 38.8s	remaining: 35.8s
156:	test: 0.6772136	best: 0.6772228 (152)	total: 39.1s	remaining: 35.6s
157:	test: 0.6771533	best: 0.6772228 (152)	total: 39.4s	remaining: 35.4s
158:	test: 0.6771489	best: 0.6772228 (152)	total: 39.7s	remaining: 35.2s
159:	test: 0.6772255	best: 0.6772255 (159)	total: 39.9s	remaining: 34.9s
160:	test: 0.6771398	best: 0.6772255 (159)	total: 40.1s	remaining: 34.6s
161:	test: 0.6770700	best: 0.6772255 (159)	total: 40.4s	remaining: 34.4s
162:	test: 0.6770450	best: 0.6772255 (159)	total: 40.6s	remaining: 34.1s
163:	test: 0.6769997	best: 0.6772255 (159)	total: 40.9s	remaining: 33.9s
164:	test: 0.6769779	best: 0.6772255 (159)	total: 41.2s	remaining: 33.7s
165:	test: 0.6769876	best: 0.6772255 (159)	total: 41.4s	remaining: 33.4s
166:	test: 0.6770204	best: 0.6772255 (159)	total: 41.7s	remaining: 33.2s
167:	test: 0.6770700	best: 0.6772255 (159)	total: 42s	remaining: 33s
168:	test: 0.6772228	best: 0.6772255 (159)	total: 42.2s	remaining: 32.7s
169:	test: 0.6773715	best: 0.6773715 (169)	total: 42.4s	remaining: 32.4s
170:	test: 0.6774426	best: 0.6774426 (170)	total: 42.7s	remaining: 32.2s
171:	test: 0.6774459	best: 0.6774459 (171)	total: 42.9s	remaining: 31.9s
172:	test: 0.6775461	best: 0.6775461 (172)	total: 43.2s	remaining: 31.7s
173:	test: 0.6776811	best: 0.6776811 (173)	total: 43.5s	remaining: 31.5s
174:	test: 0.6776040	best: 0.6776811 (173)	total: 43.7s	remaining: 31.2s
175:	test: 0.6776544	best: 0.6776811 (173)	total: 44s	remaining: 31s
176:	test: 0.6777158	best: 0.6777158 (176)	total: 44.2s	remaining: 30.7s
177:	test: 0.6776614	best: 0.6777158 (176)	total: 44.5s	remaining: 30.5s
178:	test: 0.6776776	best: 0.6777158 (176)	total: 44.7s	remaining: 30.2s
179:	test: 0.6777026	best: 0.6777158 (176)	total: 45s	remaining: 30s
180:	test: 0.6777783	best: 0.6777783 (180)	total: 45.2s	remaining: 29.7s
181:	test: 0.6778255	best: 0.6778255 (181)	total: 45.5s	remaining: 29.5s
182:	test: 0.6779074	best: 0.6779074 (182)	total: 45.6s	remaining: 29.2s
183:	test: 0.6779807	best: 0.6779807 (183)	total: 45.9s	remaining: 29s
184:	test: 0.6779631	best: 0.6779807 (183)	total: 46.2s	remaining: 28.7s
185:	test: 0.6779217	best: 0.6779807 (183)	total: 46.4s	remaining: 28.4s
186:	test: 0.6779710	best: 0.6779807 (183)	total: 46.6s	remaining: 28.2s
187:	test: 0.6778411	best: 0.6779807 (183)	total: 46.8s	remaining: 27.9s
188:	test: 0.6779249	best: 0.6779807 (183)	total: 47.1s	remaining: 27.7s
189:	test: 0.6779173	best: 0.6779807 (183)	total: 47.4s	remaining: 27.4s
190:	test: 0.6778656	best: 0.6779807 (183)	total: 47.7s	remaining: 27.2s
191:	test: 0.6778591	best: 0.6779807 (183)	total: 48s	remaining: 27s
192:	test: 0.6779499	best: 0.6779807 (183)	total: 48.3s	remaining: 26.8s
193:	test: 0.6779731	best: 0.6779807 (183)	total: 48.7s	remaining: 26.6s
194:	test: 0.6780079	best: 0.6780079 (194)	total: 48.9s	remaining: 26.4s
195:	test: 0.6780758	best: 0.6780758 (195)	total: 49.2s	remaining: 26.1s
196:	test: 0.6781499	best: 0.6781499 (196)	total: 49.4s	remaining: 25.8s
197:	test: 0.6781466	best: 0.6781499 (196)	total: 49.8s	remaining: 25.6s
198:	test: 0.6781420	best: 0.6781499 (196)	total: 50s	remaining: 25.4s
199:	test: 0.6782695	best: 0.6782695 (199)	total: 50.3s	remaining: 25.2s
200:	test: 0.6782256	best: 0.6782695 (199)	total: 50.6s	remaining: 24.9s
201:	test: 0.6782167	best: 0.6782695 (199)	total: 50.9s	remaining: 24.7s
202:	test: 0.6782719	best: 0.6782719 (202)	total: 51.2s	remaining: 24.5s
203:	test: 0.6783325	best: 0.6783325 (203)	total: 51.5s	remaining: 24.2s
204:	test: 0.6784093	best: 0.6784093 (204)	total: 51.8s	remaining: 24s
205:	test: 0.6783740	best: 0.6784093 (204)	total: 52s	remaining: 23.7s
206:	test: 0.6783632	best: 0.6784093 (204)	total: 52.2s	remaining: 23.5s
207:	test: 0.6784848	best: 0.6784848 (207)	total: 52.4s	remaining: 23.2s
208:	test: 0.6786453	best: 0.6786453 (208)	total: 52.7s	remaining: 22.9s
209:	test: 0.6787946	best: 0.6787946 (209)	total: 53s	remaining: 22.7s
210:	test: 0.6787870	best: 0.6787946 (209)	total: 53.2s	remaining: 22.5s
211:	test: 0.6788703	best: 0.6788703 (211)	total: 53.5s	remaining: 22.2s
212:	test: 0.6789331	best: 0.6789331 (212)	total: 53.8s	remaining: 22s
213:	test: 0.6789533	best: 0.6789533 (213)	total: 54s	remaining: 21.7s
214:	test: 0.6790295	best: 0.6790295 (214)	total: 54.3s	remaining: 21.5s
215:	test: 0.6789964	best: 0.6790295 (214)	total: 54.6s	remaining: 21.2s
216:	test: 0.6790023	best: 0.6790295 (214)	total: 54.9s	remaining: 21s
217:	test: 0.6790298	best: 0.6790298 (217)	total: 55.2s	remaining: 20.8s
218:	test: 0.6791858	best: 0.6791858 (218)	total: 55.5s	remaining: 20.5s
219:	test: 0.6792127	best: 0.6792127 (219)	total: 55.9s	remaining: 20.3s
220:	test: 0.6791106	best: 0.6792127 (219)	total: 56.1s	remaining: 20.1s
221:	test: 0.6792316	best: 0.6792316 (221)	total: 56.4s	remaining: 19.8s
222:	test: 0.6791960	best: 0.6792316 (221)	total: 56.7s	remaining: 19.6s
223:	test: 0.6792513	best: 0.6792513 (223)	total: 57s	remaining: 19.3s
224:	test: 0.6792262	best: 0.6792513 (223)	total: 57.2s	remaining: 19.1s
225:	test: 0.6793469	best: 0.6793469 (225)	total: 57.5s	remaining: 18.8s
226:	test: 0.6793976	best: 0.6793976 (226)	total: 57.7s	remaining: 18.6s
227:	test: 0.6793674	best: 0.6793976 (226)	total: 57.9s	remaining: 18.3s
228:	test: 0.6794787	best: 0.6794787 (228)	total: 58.2s	remaining: 18s
229:	test: 0.6795215	best: 0.6795215 (229)	total: 58.5s	remaining: 17.8s
230:	test: 0.6796408	best: 0.6796408 (230)	total: 58.7s	remaining: 17.5s
231:	test: 0.6797284	best: 0.6797284 (231)	total: 59s	remaining: 17.3s
232:	test: 0.6797152	best: 0.6797284 (231)	total: 59.3s	remaining: 17s
233:	test: 0.6796373	best: 0.6797284 (231)	total: 59.6s	remaining: 16.8s
234:	test: 0.6795536	best: 0.6797284 (231)	total: 59.9s	remaining: 16.6s
235:	test: 0.6795274	best: 0.6797284 (231)	total: 1m	remaining: 16.3s
236:	test: 0.6794919	best: 0.6797284 (231)	total: 1m	remaining: 16.1s
237:	test: 0.6794633	best: 0.6797284 (231)	total: 1m	remaining: 15.8s
238:	test: 0.6795016	best: 0.6797284 (231)	total: 1m	remaining: 15.6s
239:	test: 0.6795727	best: 0.6797284 (231)	total: 1m 1s	remaining: 15.3s
240:	test: 0.6796845	best: 0.6797284 (231)	total: 1m 1s	remaining: 15.1s
241:	test: 0.6796958	best: 0.6797284 (231)	total: 1m 1s	remaining: 14.8s
242:	test: 0.6797642	best: 0.6797642 (242)	total: 1m 2s	remaining: 14.6s
243:	test: 0.6797828	best: 0.6797828 (243)	total: 1m 2s	remaining: 14.3s
244:	test: 0.6797168	best: 0.6797828 (243)	total: 1m 2s	remaining: 14.1s
245:	test: 0.6796861	best: 0.6797828 (243)	total: 1m 2s	remaining: 13.8s
246:	test: 0.6797769	best: 0.6797828 (243)	total: 1m 3s	remaining: 13.6s
247:	test: 0.6798836	best: 0.6798836 (247)	total: 1m 3s	remaining: 13.3s
248:	test: 0.6799493	best: 0.6799493 (248)	total: 1m 3s	remaining: 13.1s
249:	test: 0.6799402	best: 0.6799493 (248)	total: 1m 4s	remaining: 12.8s
250:	test: 0.6798801	best: 0.6799493 (248)	total: 1m 4s	remaining: 12.6s
251:	test: 0.6798817	best: 0.6799493 (248)	total: 1m 4s	remaining: 12.3s
252:	test: 0.6798437	best: 0.6799493 (248)	total: 1m 4s	remaining: 12.1s
253:	test: 0.6799372	best: 0.6799493 (248)	total: 1m 5s	remaining: 11.8s
254:	test: 0.6798911	best: 0.6799493 (248)	total: 1m 5s	remaining: 11.5s
255:	test: 0.6800488	best: 0.6800488 (255)	total: 1m 5s	remaining: 11.3s
256:	test: 0.6800727	best: 0.6800727 (256)	total: 1m 6s	remaining: 11.1s
257:	test: 0.6800016	best: 0.6800727 (256)	total: 1m 6s	remaining: 10.8s
258:	test: 0.6799410	best: 0.6800727 (256)	total: 1m 6s	remaining: 10.5s
259:	test: 0.6799410	best: 0.6800727 (256)	total: 1m 6s	remaining: 10.3s
260:	test: 0.6798389	best: 0.6800727 (256)	total: 1m 7s	remaining: 10s
261:	test: 0.6798424	best: 0.6800727 (256)	total: 1m 7s	remaining: 9.77s
262:	test: 0.6798157	best: 0.6800727 (256)	total: 1m 7s	remaining: 9.51s
263:	test: 0.6798833	best: 0.6800727 (256)	total: 1m 7s	remaining: 9.26s
264:	test: 0.6799566	best: 0.6800727 (256)	total: 1m 8s	remaining: 9.02s
265:	test: 0.6799900	best: 0.6800727 (256)	total: 1m 8s	remaining: 8.76s
266:	test: 0.6800337	best: 0.6800727 (256)	total: 1m 8s	remaining: 8.5s
267:	test: 0.6801072	best: 0.6801072 (267)	total: 1m 9s	remaining: 8.25s
268:	test: 0.6801414	best: 0.6801414 (268)	total: 1m 9s	remaining: 7.99s
269:	test: 0.6801320	best: 0.6801414 (268)	total: 1m 9s	remaining: 7.73s
270:	test: 0.6800843	best: 0.6801414 (268)	total: 1m 9s	remaining: 7.48s
271:	test: 0.6801794	best: 0.6801794 (271)	total: 1m 10s	remaining: 7.22s
272:	test: 0.6801603	best: 0.6801794 (271)	total: 1m 10s	remaining: 6.96s
273:	test: 0.6801864	best: 0.6801864 (273)	total: 1m 10s	remaining: 6.71s
274:	test: 0.6802573	best: 0.6802573 (274)	total: 1m 10s	remaining: 6.45s
275:	test: 0.6802012	best: 0.6802573 (274)	total: 1m 11s	remaining: 6.2s
276:	test: 0.6801360	best: 0.6802573 (274)	total: 1m 11s	remaining: 5.94s
277:	test: 0.6801285	best: 0.6802573 (274)	total: 1m 11s	remaining: 5.68s
278:	test: 0.6799733	best: 0.6802573 (274)	total: 1m 12s	remaining: 5.42s

In [38]:
pred = model.predict_proba(test_X)
preds= pred[:,1]

In [39]:
submission = pd.read_csv('data/sample_submission_24jSKY6.csv')

submission['loan_default'] = preds

submission.to_csv('submission.csv', index = False)

<a id =3>  </a> </br>

# <span style ="color:blue"> <span style='background:orange'>  4. LightGBM

In [41]:
def bayes_parameter_opt_lgb(X, y, init_round=15, opt_round=25, n_folds=5, random_seed=6, n_estimators=10000, learning_rate=0.01, output_process=False):
    # prepare data
    train_data = lgb.Dataset(data=X, label=y, free_raw_data=False)
    # parameters
    def lgb_eval(num_leaves, feature_fraction, bagging_fraction, max_depth, lambda_l1, lambda_l2, min_split_gain, min_child_weight):
        params = {'application':'binary','num_iterations': n_estimators, 'learning_rate':learning_rate, 'early_stopping_round':100, 'metric':'auc'}
        params["num_leaves"] = int(round(num_leaves))
        params['feature_fraction'] = max(min(feature_fraction, 1), 0)
        params['bagging_fraction'] = max(min(bagging_fraction, 1), 0)
        params['max_depth'] = int(round(max_depth))
        params['lambda_l1'] = max(lambda_l1, 0)
        params['lambda_l2'] = max(lambda_l2, 0)
        params['min_split_gain'] = min_split_gain
        params['min_child_weight'] = min_child_weight
        cv_result = lgb.cv(params, train_data, nfold=n_folds, seed=random_seed, stratified=True, verbose_eval =200, metrics=['auc'])
        return max(cv_result['auc-mean'])
    # range 
    lgbBO = BayesianOptimization(lgb_eval, {'num_leaves': (110, 150),
                                            'feature_fraction': (0.1, 0.9),
                                            'bagging_fraction': (0.8, 1),
                                            'max_depth': (20, 50),
                                            'lambda_l1': (0, 5),
                                            'lambda_l2': (0, 3),
                                            'min_split_gain': (0.001, 0.1),
                                            'min_child_weight': (15, 45)}, random_state=0)
    # optimize
    lgbBO.maximize(init_points=init_round, n_iter=opt_round)
    
    # output optimization process
    if output_process==True: lgbBO.points_to_csv("bayes_opt_result.csv")
    
    # return best parameters
    return lgbBO

opt_params = bayes_parameter_opt_lgb(train_X, train_y, init_round=5, opt_round=10, n_folds=3, random_seed=6, n_estimators=100, learning_rate=0.05)

|   iter    |  target   | baggin... | featur... | lambda_l1 | lambda_l2 | max_depth | min_ch... | min_sp... | num_le... |
-------------------------------------------------------------------------------------------------------------------------
|  1        |  0.6671   |  0.9098   |  0.6722   |  3.014    |  1.635    |  32.71    |  34.38    |  0.04432  |  145.7    |
|  2        |  0.6681   |  0.9927   |  0.4068   |  3.959    |  1.587    |  37.04    |  42.77    |  0.008033 |  113.5    |
|  3        |  0.6664   |  0.804    |  0.7661   |  3.891    |  2.61     |  49.36    |  38.97    |  0.04669  |  141.2    |
|  4        |  0.667    |  0.8237   |  0.6119   |  0.7168   |  2.834    |  35.66    |  27.44    |  0.02719  |  141.0    |
|  5        |  0.6674   |  0.8912   |  0.5547   |  0.09395  |  1.853    |  38.36    |  33.51    |  0.09443  |  137.3    |
|  6        |  0.6678   |  0.9883   |  0.4375   |  0.6747   |  0.1733   |  20.21    |  15.76    |  0.09269  |  110.4    |
|  7        |  0.6669   |  0.9657   |  0.5682   |  1.509    |  0.4545   |  20.3     |  15.07    |  0.09182  |  110.7    |
|  8        |  0.6683   |  0.9595   |  0.3209   |  1.244    |  1.21     |  49.93    |  44.9     |  0.07919  |  110.3    |
|  9        |  0.6672   |  0.8968   |  0.5393   |  1.044    |  0.6329   |  49.82    |  44.91    |  0.08142  |  110.1    |
|  10       |  0.6676   |  0.9605   |  0.4821   |  3.078    |  1.678    |  20.32    |  44.22    |  0.05416  |  110.1    |
|  11       |  0.6672   |  0.8059   |  0.5505   |  1.797    |  2.661    |  49.69    |  15.43    |  0.06142  |  110.1    |
|  12       |  0.6681   |  0.8793   |  0.2408   |  4.071    |  1.069    |  20.15    |  44.55    |  0.02406  |  149.6    |
|  13       |  0.6676   |  0.9428   |  0.538    |  4.972    |  1.907    |  20.13    |  44.35    |  0.06758  |  149.9    |
|  14       |  0.6679   |  0.9233   |  0.231    |  2.098    |  1.788    |  20.15    |  44.5     |  0.01952  |  110.6    |
|  15       |  0.6667   |  0.9548   |  0.1642   |  4.061    |  1.816    |  20.35    |  44.51    |  0.005362 |  110.1    |
=========================================================================================================================

In [48]:
param = {
    'num_leaves': 110,
    'feature_fraction': 0.3209,
    'bagging_fraction': 0.9595 ,
    'bagging_freq': 5,
    'max_depth':50,
    'lambda_l1': 1.244,
    'lambda_l2':1.21,
    'min_split_gain': 0.07919,
    'min_child_weight': 44.9 ,
     'objective': 'binary',
    'boosting_type': 'gbdt',
    'verbose': 1,
    'metric': 'auc',
    'is_unbalance': True,
    'boost_from_average': False,
}

In [49]:
nfold = 5
target = 'loan_default'
predictors = train_X.columns.values.tolist()

In [50]:
gc.collect()

1010

In [60]:
skf = StratifiedKFold(n_splits=nfold, shuffle=True, random_state=2021)

oof = np.zeros(len(train_X))
predictions = np.zeros(len(test_X))

i = 1
for train_index, valid_index in skf.split(train_y, train_y.values):
    print("fold {}".format(i))
    xg_train = lgb.Dataset(train_X.iloc[train_index][predictors].values,
                           label=train_y.iloc[train_index][target].values,
                           feature_name=predictors,
                           free_raw_data = False
                           )
    xg_valid = lgb.Dataset(train_X.iloc[valid_index][predictors].values,
                           label=train_y.iloc[valid_index][target].values,
                           feature_name=predictors,
                           free_raw_data = False
                           )   

    
    clf = lgb.train(param, xg_train, 5000, valid_sets = [xg_valid], verbose_eval=10, early_stopping_rounds = 50)
    oof[valid_index] = clf.predict(train_X.iloc[valid_index][predictors].values, num_iteration=clf.best_iteration) 
    
    predictions += clf.predict(test_X[predictors], num_iteration=clf.best_iteration) / nfold
    i = i + 1

print("\n\nCV AUC: {:<0.2f}".format(metrics.roc_auc_score(train_y.values, oof)))

fold 1
Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.65451
[20]	valid_0's auc: 0.659341
[30]	valid_0's auc: 0.664284
[40]	valid_0's auc: 0.66718
[50]	valid_0's auc: 0.669461
[60]	valid_0's auc: 0.670528
[70]	valid_0's auc: 0.67085
[80]	valid_0's auc: 0.671107
[90]	valid_0's auc: 0.671856
[100]	valid_0's auc: 0.672342
[110]	valid_0's auc: 0.672045
[120]	valid_0's auc: 0.671694
[130]	valid_0's auc: 0.671801
[140]	valid_0's auc: 0.671728
[150]	valid_0's auc: 0.671468
Early stopping, best iteration is:
[100]	valid_0's auc: 0.672342
fold 2
Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.656203
[20]	valid_0's auc: 0.660324
[30]	valid_0's auc: 0.66494
[40]	valid_0's auc: 0.66715
[50]	valid_0's auc: 0.669442
[60]	valid_0's auc: 0.670318
[70]	valid_0's auc: 0.671273
[80]	valid_0's auc: 0.671713
[90]	valid_0's auc: 0.672238
[100]	valid_0's auc: 0.67248
[110]	valid_0's auc: 0.672443
[120]	valid_0's auc: 0.672408
[130]	valid_0's auc: 0.672288
[140]	valid_0's auc: 0.672213
[150]	valid_0's auc: 0.671993
[160]	valid_0's auc: 0.671705
Early stopping, best iteration is:
[116]	valid_0's auc: 0.672742
fold 3
Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.652921
[20]	valid_0's auc: 0.657746
[30]	valid_0's auc: 0.663129
[40]	valid_0's auc: 0.665385
[50]	valid_0's auc: 0.666846
[60]	valid_0's auc: 0.667698
[70]	valid_0's auc: 0.667846
[80]	valid_0's auc: 0.668211
[90]	valid_0's auc: 0.668413
[100]	valid_0's auc: 0.668335
[110]	valid_0's auc: 0.668222
[120]	valid_0's auc: 0.668403
[130]	valid_0's auc: 0.668416
Early stopping, best iteration is:
[89]	valid_0's auc: 0.668529
fold 4
Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.649652
[20]	valid_0's auc: 0.655034
[30]	valid_0's auc: 0.659734
[40]	valid_0's auc: 0.66184
[50]	valid_0's auc: 0.664728
[60]	valid_0's auc: 0.665589
[70]	valid_0's auc: 0.666099
[80]	valid_0's auc: 0.666798
[90]	valid_0's auc: 0.667659
[100]	valid_0's auc: 0.667745
[110]	valid_0's auc: 0.667881
[120]	valid_0's auc: 0.668134
[130]	valid_0's auc: 0.667844
[140]	valid_0's auc: 0.667525
[150]	valid_0's auc: 0.667101
[160]	valid_0's auc: 0.667061
Early stopping, best iteration is:
[118]	valid_0's auc: 0.668251
fold 5
Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.653167
[20]	valid_0's auc: 0.659172
[30]	valid_0's auc: 0.664064
[40]	valid_0's auc: 0.666861
[50]	valid_0's auc: 0.668227
[60]	valid_0's auc: 0.669141
[70]	valid_0's auc: 0.669832
[80]	valid_0's auc: 0.670405
[90]	valid_0's auc: 0.67071
[100]	valid_0's auc: 0.671002
[110]	valid_0's auc: 0.670882
[120]	valid_0's auc: 0.670739
[130]	valid_0's auc: 0.670919
[140]	valid_0's auc: 0.670869
Early stopping, best iteration is:
[98]	valid_0's auc: 0.671065


CV AUC: 0.67

In [61]:
submission['loan_default'] = predictions

In [62]:
submission.head()

   UniqueID  loan_default
0    655269      0.540072
1    723482      0.547089
2    758529      0.506757
3    763449      0.508455
4    708663      0.578548